fail_fast: true
repos:
  - repo: local
    hooks:
      - id: system
        name: mypy
        entry: poetry run tox -e mypy
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: isort
        entry: poetry run isort -c .
        pass_filenames: false
        language: system
  - repo: local
    hooks:
      - id: system
        name: autopep8
        entry: poetry run autopep8 --in-place -r cyclonedx tests
        pass_filenames: false
        language: system
