[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "cyclonedx-python-lib"
# !! version is managed by semantic_release
version = "5.0.0-alpha.1"
description = "A library for producing CycloneDX SBOM (Software Bill of Materials) files."
authors = ["Paul Horton <phorton@sonatype.com>"]
maintainers = [
  "Paul Horton <phorton@sonatype.com>",
  "Jan Kowalleck <jan.kowalleck@gmail.com>",
]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/CycloneDX/cyclonedx-python-lib/#readme"
repository = "https://github.com/CycloneDX/cyclonedx-python-lib"
documentation = "https://cyclonedx-python-library.readthedocs.io/"
packages = [
  { include = "cyclonedx" }
]
include = [
  "README.md", "LICENSE", "NOTICE",
  { path = "tests", format = "sdist" },
]
classifiers = [
  # Trove classifiers - https://packaging.python.org/specifications/core-metadata/#metadata-classifier
  # Full list: https://pypi.python.org/pypi?%3Aaction=list_classifiers
  'Development Status :: 5 - Production/Stable',
  'Intended Audience :: Developers',
  'Intended Audience :: Information Technology',
  'Intended Audience :: Legal Industry',
  'Intended Audience :: System Administrators',
  'Topic :: Security',
  'Topic :: Software Development',
  'Topic :: System :: Software Distribution',
  'License :: OSI Approved :: Apache Software License',
  'Programming Language :: Python :: 3.8',
  'Programming Language :: Python :: 3.9',
  'Programming Language :: Python :: 3.10',
  'Programming Language :: Python :: 3.11',
  'Typing :: Typed',
]
keywords = [
  "BOM", "SBOM", "SCA", "OWASP",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/CycloneDX/cyclonedx-python-lib/issues"

[tool.poetry.dependencies]
# ATTENTION: keep `deps.lowest.r` file in sync
python = "^3.8"
packageurl-python = ">= 0.11"
py-serializable = "^0.11.1"
sortedcontainers = "^2.4.0"
license-expression = "^30"

[tool.poetry.dev-dependencies]
ddt = "1.6.0"
coverage = "7.3.1"
flake8 = { version="6.1.0", python=">=3.8.1" }
flake8-annotations = { version="3.0.1", python=">=3.8.1" }
flake8-bugbear = { version="23.9.16", python=">=3.8.1" }
flake8-isort = "6.1.0 "
isort = "5.12.0"
autopep8 = "2.0.4"
jsonschema = "4.17.3"
mypy = "1.5.1"
lxml = "4.9.3"
tox = "4.11.3"
xmldiff = "2.6.3"

[tool.semantic_release]
# see https://python-semantic-release.readthedocs.io/en/latest/configuration.html
commit_message = "chore(release): {version}\n\nAutomatically generated by python-semantic-release"
upload_to_vcs_release = true
build_command = "pip install poetry && poetry build"
version_toml = ["pyproject.toml:tool.poetry.version"]
version_variables = [
  "cyclonedx/__init__.py:__version__",
  "docs/conf.py:release",
]
[tool.semantic_release.changelog]
changelog_file = "CHANGELOG.md"
exclude_commit_patterns = [
  "chore\\(release\\):",
]
[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease = false
[tool.semantic_release.branches."feat|fix|tests|style|docs|chore"]
match = "(feat|fix|tests|style|docs|chore)"
prerelease = true
prerelease_token = "alpha"
[tool.semantic_release.branches."major-dev"]
match = "\\d+\\.0\\.0-dev"
prerelease = true
prerelease_token = "alpha"
