[tool.poetry]
name = "cyclonedx-python-lib"
version = "2.1.0"
description = "A library for producing CycloneDX SBOM (Software Bill of Materials) files."
authors = ["Paul Horton <phorton@sonatype.com>"]
maintainers = ["Paul Horton <phorton@sonatype.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/CycloneDX/cyclonedx-python-lib"
repository = "https://github.com/CycloneDX/cyclonedx-python-lib"
packages = [
    { include = "cyclonedx" }
]
include = [
    "LICENSE"
]
classifiers = [
    # Trove classifiers - https://packaging.python.org/specifications/core-metadata/#metadata-classifier
    # Full list: https://pypi.python.org/pypi?%3Aaction=list_classifiers
    'Development Status :: 5 - Production/Stable',
    'Intended Audience :: Developers',
    'Intended Audience :: Information Technology',
    'Intended Audience :: Legal Industry',
    'Intended Audience :: System Administrators',
    'Topic :: Security',
    'Topic :: Software Development',
    'Topic :: System :: Software Distribution',
    'License :: OSI Approved :: Apache Software License',
    'Programming Language :: Python :: 3.6',
    'Programming Language :: Python :: 3.7',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Typing :: Typed'
]
keywords = [
    "BOM", "SBOM", "SCA", "OWASP"
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/CycloneDX/cyclonedx-python-lib/issues"

[tool.poetry.dependencies]
# ATTENTION: keep `requirements.lowest.txt` file in sync
python = "^3.6"
packageurl-python = ">= 0.9"
setuptools = ">= 47.0.0"
importlib-metadata = { version = ">= 3.4", python = "< 3.8" }
toml = "^0.10.0"
# `typing-extensions` need to stay in sync with major version of `python`
typing-extensions = { version = "^3.10", python = "< 3.8" }
# `types-setuptools` need to stay in sync with version of `setuptools` - but 47 was not typed...
types-setuptools = ">= 57.0.0"
# `types-toml` need to stay in sync with version of `toml`
types-toml = "^0.10.0"

[tool.poetry.dev-dependencies]
tox = "^3.24.3"
coverage = "^6.2"
mypy = ">= 0.920, < 1.00"
autopep8 = "^1.6.0"
isort = { version = "^5.10.0", python = ">= 3.6.1" }
flake8 = "^4.0.1"
flake8-annotations = {version = "^2.7.0", python = ">= 3.6.2"}
flake8-bugbear = "^22.3.23"
flake8-isort = { version = "^4.1.0", python = ">= 3.6.1" }
jsonschema = { version = ">= 4.4.0", python = "> 3.6"}
lxml = ">=4.7.0"
xmldiff = ">=2.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.semantic_release]
version_variable = [
    "pyproject.toml:version"
]
branch = "main"
upload_to_pypi = true
upload_to_release = true
build_command = "pip install poetry && poetry build"
