# exactly pinned dependencies to the lowest version regardless of python_version
# see pyptoject file for ranges

packageurl-python == 0.9.0
setuptools == 47.0.0
importlib-metadata == 3.4.0 # ; python_version < '3.8'
toml == 0.10.0
typing-extensions == 3.10.0 # ; python_version < '3.8'
types-setuptools == 57.0.0
types-toml == 0.10.0
